/* app css stylesheet */
body {
  display: flex;
  padding-top: 0px;
  min-height: 100vh;
  flex-direction: column;
}

.container{
  width: 80% !important;
}

#main {
  flex: 1 0 auto;
  padding-top:50px;
  padding-bottom:50px;
}

.actions_column{
  width: 220px;
}

a.delete{
  background-color: crimson;
}

a.action{
  padding-left: 10px;
  padding-right: 10px;
}

a.btn-new-project{
  margin-top:25px;
  margin-right: 5px;
  background-color: #fff;
  color: deepskyblue;
}

a.btn-new-project:hover{
  background-color: deepskyblue;
  color: #fff;
}

a.btn-new-project i{
  font-weight: bold;
  font-size: 25px;
}

nav{
  background-color: #254250 !important;
}

.nav-wrapper{
  padding-left:20px;
  background-color: #254250;
}

.card .card-action{
  background-color: #fff;
  padding:10px;
}

footer.page-footer{
  background-color: #254250 !important;
}

.breadcrumb::before{content: '' !important;}

.crumbs{
  padding-left:150px;
  margin: 0px;
}

.crumbs li{
  display:inline !important;
}

.crumbs li a::after {
  content: '\E5CC';
    color: rgba(255,255,255,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}
.crumbs span{
  color: #fff;
  background-color: crimson;
  padding: 5px;
}

.btn{
  background-color: deepskyblue;
}
.btn-large{
  background-color: deepskyblue;
}

#account-form{
  padding:20px;
}

#toast-container{
  top: 0% !important;
  right: 10% !important;
}
.toast{
  background-color: gold;
}

#status-buttons{
  margin-bottom:20px;
  padding:10px
}

.zombies{
  height:250px;
}
.missing h1{
  font-weight: bold;
  font-size: 6em;
  margin:0px;
}
.missing h2{
  font-weight: bold;
  margin: 0px;
}
.wizardtrail{
  list-style: none;
}
.wizardtrail li{
  /*float: left;*/
  font-size: 18px;
  margin:10px;
  display: inline;
}
.wizardtrail li a{
  color: slategrey;
}
.wizardtrail li a.active{
  color: deepskyblue;
}
.wizardtrail li a.active span.step{
  color: #ffffff;
  background-color: deepskyblue;
}
.wizardtrail li a span.step{
  color: #ffffff;
  background-color: slategrey;
  margin: 5px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 15px;
}
