/* app css stylesheet */
body {
  display: flex;
  padding-top: 0px;
  min-height: 100vh;
  flex-direction: column;
}

a {
  cursor: pointer;
}

.clear-filter{
  position: absolute;
  right: 0px;
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  top: 5px;
}

.card-content span.badge{
  color: #fff;
  background-color: #039be5;
  border-radius: 10px;
}

.active-account-badge{
  background-color: #fff;
  color: #039be5;
  border-radius: 15px;
}

.collection .collection-item.avatar .title {
    font-size: 18px;
}

.new-project-icon{
  font-size: 40px;
  color: #039be5;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.container{
  width: 90% !important;
}

.side-nav{
    top: auto !important;
    height: 100% !important;
    position: absolute !important;
}

#main {
  flex: 1 0 auto;
  padding-top:50px;
  padding-bottom:50px;
}

.account-inactive{
  background-color: #546e7a;
}

.account-active{
  background-color: #26a69a;
}

.account-active .btn{
  background-color: #26a69a !important;
}

a.delete{
  background-color: crimson;
}

a.action-delete{
  color: crimson;
  cursor:pointer;
}

a.action-edit{
  color: #039be5;
  cursor:pointer;
}

a.btn-new-project{
  margin-top:25px;
  margin-right: 5px;
  background-color: #fff;
  color: deepskyblue;
}

a.btn-new-project:hover{
  background-color: deepskyblue;
  color: #fff;
}

a.btn-new-project i{
  font-weight: bold;
  font-size: 25px;
}

nav{
  background-color: #254250 !important;
}

.nav-wrapper{
  padding-left:20px;
  background-color: #254250;
}

.card .card-action{
  background-color: #fff;
  padding:10px;
}

footer.page-footer{
  background-color: #254250 !important;
}

.breadcrumb::before{content: '' !important;}

.crumbs{
  padding-left:150px;
  margin: 0px;
}

.crumbs li{
  display:inline !important;
}

.crumbs li a::after {
  content: '/';
    color: rgba(255,255,255,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: -4px 10px 0 10px;
    -webkit-font-smoothing: antialiased;
}
.crumbs span{
  color: #fff;
  background-color: crimson;
  padding: 5px;
}

.btn{
  background-color: #039be5;
}
.btn-large{
  background-color: #039be5;
}

#account-form{
  padding:20px;
}

#toast-container{
  top: 0% !important;
  right: 10% !important;
}
.toast{
  background-color: gold;
  color:#000;
}

#status-buttons{
  margin-bottom:20px;
  padding:10px
}

.zombies{
  height:250px;
}
.missing h1{
  font-weight: bold;
  font-size: 6em;
  margin:0px;
}
.missing h2{
  font-weight: bold;
  margin: 0px;
}
.wizardtrail{
  list-style: none;
}
.wizardtrail li{
  /*float: left;*/
  font-size: 18px;
  margin:10px;
  display: inline;
}
.wizardtrail li a{
  color: slategrey;
}
.wizardtrail li a.active{
  color: deepskyblue;
}
.wizardtrail li a.active span.step{
  color: #ffffff;
  background-color: deepskyblue;
}
.wizardtrail li a span.step{
  color: #ffffff;
  background-color: slategrey;
  margin: 5px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 15px;
}
