
<div ui-view></div>

<div ng-hide="isEditMode()">

<div class="row">
  <div class="col s12 m4">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">JIRA</span>
        <p>Info about your JIRA account</p>
      </div>
      <div class="card-action">
        <a ng-hide="accounts.jira.id" ng-click="edit('jira')" class="waves-effect waves-light btn">
          <i class="material-icons left">account_box</i>Create
        </a>
        <a ng-hide="!accounts.jira.id" ng-click="edit('jira')" class="waves-effect waves-light btn">
          <i class="material-icons left">edit</i>Edit
        </a>
        <a ng-hide="!accounts.jira.id" ng-click="delete('jira')" class="waves-effect waves-light btn right">
          <i class="material-icons left">delete</i>Delete
        </a>
      </div>
    </div>

  </div>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Confluence</span>
        <p>Info about your Confluence account</p>
      </div>
      <div class="card-action">
        <a ng-hide="accounts.confluence.id" ng-click="edit('confluence')" class="waves-effect waves-light btn">
          <i class="material-icons left">account_box</i>Create
        </a>
        <a ng-hide="!accounts.confluence.id" ng-click="edit('confluence')" class="waves-effect waves-light btn">
          <i class="material-icons left">edit</i>Edit
        </a>
        <a ng-hide="!accounts.confluence.id" ng-click="delete('confluence')" class="waves-effect waves-light btn right">
          <i class="material-icons left">delete</i>Delete
        </a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Bitbucket</span>
        <p>Info about your Bitbucket account</p>
      </div>
      <div class="card-action">
        <a ng-hide="accounts.bitbucket.id" ng-click="edit('bitbucket')" class="waves-effect waves-light btn">
          <i class="material-icons left">account_box</i>Create
        </a>
        <a ng-hide="!accounts.bitbucket.id" ng-click="edit('bitbucket')" class="waves-effect waves-light btn">
          <i class="material-icons left">edit</i>Edit
        </a>
        <a ng-hide="!accounts.bitbucket.id" ng-click="delete('bitbucket')" class="waves-effect waves-light btn right">
          <i class="material-icons left">delete</i>Delete
        </a>
      </div>
    </div>
  </div>
</div>
</div>

</div>
