<div class="container">

  <div>
    <h3>Edit {{account.id}} account</h3>


    <div id="status-buttons" class="text-center">

      <ul class="wizardtrail">
        <li>
          <a ui-sref-active="active" ui-sref=".license">
            <span class="step z-depth-1">1</span>
            <span>License</span>
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref=".complete">
            <span class="step z-depth-1">2</span>
            <span>Complete</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
<!-- Here we specify our view that is a container for our subviews(steps) , which in our case can be a form !-->
<div class="container">
  <form id="account-form" ng-submit="submit()" class="z-depth-1">
    <!-- nested state views will be inserted here -->
    <div  ui-view></div>
  </form>
</div>
