<div class="row">
  <h4>Editing {{::project.application | uppercase}} project {{::project.name}} ({{::project._id}})</h4>
</div>
<div class="row">
  <form ng-submit="updateProject(project)">
      <div class="row">
        <div class="input-field col s12 m12">
          <input disabled id="created" value="{{project.created|date:medium}}" type="text" class="validate">
          <label class="active" for="created">Created</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <input id="name" ng-model="project.name" type="text" class="validate" autofocus>
          <label class="active" for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <input id="desc" ng-model="project.desc" type="text" class="validate">
          <label class="active" for="desc">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <label>Has Data?</label>
        </div>
        <div class="input-field switch col s10">
            <label>
              No
              <input type="checkbox" ng-model="project.data"  ng-true-value="'has_data'" ng-false-value="'no_data'" id="data">
              <span class="lever"></span>
              Yes
            </label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12"></div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <button class="btn" id="submit" type="submit"><i class="material-icons left">save</i>Save</button>
          <a ng-click="deleteProject(project)" class="delete waves-effect waves-light btn">
            <i class="material-icons left">delete</i>Delete
          </a>
        </div>
      </div>
    </form>
</div>
