<div class="row" ng-hide="projects.length>0">
  <div class="col s12 m12">
    <h3>You currently have no projects</h3>
    <h5>
      Click one of the links on the left to get started
    </h5>
  </div>
</div>
<div class="row" ng-hide="projects.length==0">
  <table class="highlight">
    <thead>
      <tr>
        <th>
          <a ng-click="sortField = 'application';sortReverse = !sortReverse">App
            <i ng-show="sortField == 'application' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
            <i ng-show="sortField == 'application' && sortReverse" class="material-icons">keyboard_arrow_up</i>
          </a>
        </th>
        <th>
          <a ng-click="sortField = 'created';sortReverse = !sortReverse">Created
            <i ng-show="sortField == 'created' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
            <i ng-show="sortField == 'created' && sortReverse" class="material-icons">keyboard_arrow_up</i>
          </a>
        </th>
        <th>
          <a ng-click="sortField = 'updated';sortReverse = !sortReverse">Updated
            <i ng-show="sortField == 'updated' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
            <i ng-show="sortField == 'updated' && sortReverse" class="material-icons">keyboard_arrow_up</i>
          </a>
        </th>
        <th>
          <a ng-click="sortField = 'name';sortReverse = !sortReverse">Name
            <i ng-show="sortField == 'name' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
            <i ng-show="sortField == 'name' && sortReverse" class="material-icons">keyboard_arrow_up</i>
          </a>
        </th>
        <th>
          <a ng-click="sortField = 'data';sortReverse = !sortReverse">Has Data
            <i ng-show="sortField == 'data' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
            <i ng-show="sortField == 'data' && sortReverse" class="material-icons">keyboard_arrow_up</i>
          </a>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects | search:searchTerm | orderBy:sortField:sortReverse">
        <td>
          <a ng-click="search(project.application)" class="waves-effect waves-light">
            <i class="material-icons left">filter_list</i>{{project.application | uppercase}}
          </a>
        </td>
        <td>{{project.created | date:'medium'}}</td>
        <td>{{project.updated | date:'medium'}}</td>
        <td>{{project.name}}</td>
        <td>
          <div class="input-field switch list-switch-item">
            <label><input ng-change="updateHasData(project)" ng-true-value="'has_data'" ng-false-value="'no_data'" type="checkbox" ng-model="project.data" id="data"><span class="lever"></span></label>
          </div>
        </td>
        <td class="actions_column">
          <a ng-click="editProject(project)" class="action-edit">
            <i class="material-icons left">mode_edit</i>
          </a>
          <a ng-click="deleteProject(project)" class="action-delete">
            <i class="material-icons left">delete</i>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>
