<div class="row">
  <h3>New {{application|uppercase}} project</h3>
</div>
<div ng-hide="accounts[application].active" class="row">
  <h4>You havent got a {{application|uppercase}} account yet</h4>
  <h5><a ng-click="getAccountAndReturn()">Get Started</a></h5>
</div>
<div ng-hide="!accounts[application].active" class="row">
  <div ng-hide="application&&accounts[application].active" class="row">
    <h5>Please pick an application from the links on the left</h5>
  </div>
  <div ng-hide="!application" class="row">
    <form ng-submit="createProject(application)">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="project.name" id="name" type="text" class="validate" autofocus>
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="project.desc" id="desc" type="text" class="validate">
            <label for="desc">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s2">
            <label>Has Data?</label>
          </div>
          <div class="input-field switch col s10">
              <label>
                No
                <input type="checkbox" ng-model="project.data"  ng-true-value="'has_data'" ng-false-value="'no_data'" id="data">
                <span class="lever"></span>
                Yes
              </label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12"></div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn" id="submit" type="submit">create</button>
            <button class="btn btn-cancel" id="cancel" ui-sref="projects">cancel</button>
          </div>
        </div>
      </form>
  </div>
</div>
