<!-- This page is just holding for project list / edit views -->
<div class="row">
  <div class="col s12 m12">
    <a ng-click="newProject('jira')" class="btn right btn-new-project"><i class="material-icons left">add</i>JIRA</a>
    <a ng-click="newProject('confluence')" class="btn right btn-new-project"><i class="material-icons left">add</i>Confluence</a>
    <a ng-click="newProject('bitbucket')" class="btn right btn-new-project"><i class="material-icons left">add</i>Bitbucket</a>
  </div>
</div>
<div ui-view></div>
